src/
.storybook/
.github/
public/
node_modules/
storybook-static/
coverage/
.husky/

vite.config.ts
vite.lib.config.ts
tailwind.config.ts
postcss.config.js
playwright.config.ts
tsconfig*.json
eslint.config.*
.prettierrc*
.gitignore

*.stories.*
*.test.*
*.spec.*
